*                   text    eol=lf

.gitattributes              export-ignore
.gitignore                  export-ignore

*.afdesign                  binary
*.afpub                     binary
*.gif                       binary
*.jpeg                      binary
*.jpg                       binary
*.mp4                       binary
*.pdf                       binary      diff=astextplain
*.png                       binary
*.ttf                       binary
*.webp                      binary

*.svg                       text
