# macOS

.DS_Store
Thumbs.db

# Windows

[Dd]esktop.ini

# Node.js

node_modules/**
package-lock.json

# Yarn

yarn.lock

# Output

docs/
!packages/printout/docs/

# Sublime Text

*.sublime-workspace

# TODO

TODO.md
